# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp

# CI/CD
.github

# Docs
*.md
LICENSE

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Backups
backups/

# Node
**/node_modules
**/.next

# Python
**/__pycache__
**/*.pyc
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/htmlcov
